@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: Montserrat;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 200ms ease;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
background-color: #0c0c0c;
}
h1 {
    color: whitesmoke;
    background: var(--title);
    padding: 6px 12px;
    margin: 25px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 10px;
    font-size: 22px;
  }
  

@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

button {
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #3d3d3d;
  font-size: 18px;
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color: #d6d5cf;
}

button[data-key="96"] {
  grid-column: span 2;
  font-size: 18px;
}

button[data-key="8"] {
  background-color: #cb3b4c;
  color: black;
}

button[data-key="8"]:hover {
  background-color: #ccbc61;
  color:black;
}

button[data-key="111"] {
  background-color: #f7e478;
  color: black;
}

button[data-key="106"] {
  background-color: #f7e478;
  color: black;
}

button[data-key="109"] {
  background-color: #f7e478;
  color: black;
}

button[data-key="107"] {
  background-color: #f7e478;
  color: black;
}

button[data-key="13"] {
  background-color: #f7e478;
  color: black;
}

.calculatrice {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid #3d3d3d;
  padding: 15px;
  border-radius: 15px;
}

.ecran {
  width: 100%;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #1e1e1e;
  font-size: 30px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.touches {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 7px;
}

@media screen and (max-width: 385px) {
  h1 {
    font-size: 16px;
    margin: 16px;
  }
}